# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
/Client/pathToDatabase
*.json
error_log.txt
*.sqlite3
/Server/WebServer/tokens/
/Server/WebServer/db.sqlite3
/Server/Decks/
*__pycache__/
*.DS_Store
