{% extends 'layout.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <h1 class="title">Main Page</h1>
    {{ block.super }}

    <p>Listado de mazos del usuario: <strong>{{user}}</strong></p>
    <ul>
        {% for deck in data %}
            <li>{{deck}}</li>
        {% endfor %}
    </ul>

    <p>Even years till 2050 (from {{firstYear}})</p>
    <ul>
        {% for year in years %}
            {% if year|divisibleby:2 == True %}
                <li>{{year}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}